.fc{
	.fc-toolbar{
		.fc-center{
			h2{
				font-size: 24px;
			}
		}
	}
	.fc-view{
		table{
			td.fc-today{
				color: $white;
			}
			td.fc-event-container{
				.fc-event{
					padding: 2px 5px;
					margin: 1px 5px 0;
					@include border-radius(0px);
				}
			}
			.fc-widget-content{
				.fc-bg{
					.fc-today{
						background: $lightBlue;
					}
				}
			}
		}
	}
	.fc-button{
		background-image: none;
	}
	.fc-state-active{
		box-shadow: none;
	}
}