/* head section panel */
.head-section-panel{
	margin-bottom: 30px;
	h2{
		margin: 0;
	    padding-left: 0;
	    padding-top: 5px;
		font-size: 18px;
		position: relative;
		color: $gray;
		font-family: $openSemibold;
	}
	h3{
		font-size: 14px;
		margin: 8px 15px 0 8px;
		color: lighten($gray, 35%);
		@media screen and (max-width: 425px){
			margin: 18px 15px 0 0px;
			clear: both;
		}
	}
	h3.bigger{
		font-size: 18px;
	}
	.pull-right{
		@media screen and (max-width: 991px){
			float: left !important; 
			margin-top: 20px;
		}
	}
	.pull-right.first{
		@media screen and (max-width: 991px){
			clear: left;
			margin-right: 10px;
		}
	}
}