table.table{
	border: 1px solid lighten($gray, 50%);
	thead{
		@include border-top-left-radius(2px);
		@include border-top-right-radius(2px); 
		tr{
			th{
				background: $headTable;
				color: $white; 
				border: none;
				font-family: $openSemibold;
				font-size: 12px;
				padding: 13px;
				vertical-align: middle;
				&.number{
					width: 15px;
				}
				&.action{
					width: 80px;
					text-align: center;
				}
				.btn{
					margin-bottom: 0px;
				}
			}
		}
	}
	tbody{
		@include border-bottom-left-radius(2px);
		@include border-bottom-right-radius(2px); 
		tr{
			td{
				vertical-align: middle;
				background-color: $white;
				border: 1px solid lighten($gray, 50%);
				border-bottom: none;
				border-top: none;
				font-size: 11px;
				padding: 10px;
   				word-break: break-word;
				span.role{
					background: $gray;
					@include border-radius(4px);
					padding: 5px 7px;
					color: $darkGray;
					@media screen and (max-width: 1199px){
						margin-bottom: 5px;
					    width: 100%;
					    line-height: 20px;
					    display: block;
					}
				}
				select.form-control{
				    margin-bottom: 0;
				    height: 28px;
				    padding: 0 6px;
				    background-size: 27px;
				    display: inline-block;
				    border-color: lighten($gray, 50%);
				    width: auto;
				}
			}
			td.center{
				text-align: center;
			}
			&:last-child{
				border-bottom: 1px solid lighten($gray, 50%);
			}
			&.clickable-row{
				cursor: pointer;
			}
		}
	}
}

.table-overflow{
	overflow-y: auto;
	clear: both;
	table{
		margin-bottom: 0px;
	}
}

.dataTables_wrapper{
	margin-bottom: 30px;
	.dataTables_length{
		label{
			font-weight: normal;
			font-size: 12px;
			select.form-control{
			    margin-bottom: 0;
			    min-width: 100px;
			    height: 28px;
			    padding: 0 6px;
			    background-size: 27px;
			    display: inline-block;
			    border-color: lighten($gray, 50%);
			    width: auto;
			}
		}
	}
	.dataTables_filter{ 
		@media (min-width: 641px) and (max-width: 991px){
			float: left;
			clear: both;
		}
		label{
			font-weight: normal;
			font-size: 12px;
			input[type="search"].form-control{
			    box-shadow: none;
			    border: 1px solid lighten($gray, 50%);
			    margin-bottom: 15px;
			    margin-left: 0px;
			    height: 28px;
			    display: inline-block;
			    width: auto;
			    margin-left: 10px;
			    border-radius: 2px;
			    background-color: $white;
			}
		}
	}
	table{
		border: none;
		thead{
			tr{
				th{
					position: relative;
					&:after{
						position: absolute;
						right: 3px;
						top: 50%;
						@include transform(translateY(-50%));
					}
				}
				th.sorting{
					&:after{
					    content: "\f0dc";
					    font: normal normal normal 12px/1 FontAwesome;
					    color: $white;
					}
				}
				th.sorting_asc{
					&:after{
					    content: "\f160";
					    font: normal normal normal 12px/1 FontAwesome;
					    color: $white;
					}
				}
				th.sorting_desc{
					&:after{
					    content: "\f161";
					    font: normal normal normal 12px/1 FontAwesome;
					    color: $white;
					}
				}
			}
		}
		tbody{
			tr{
				td{
					border-right: none;
					textarea{
						margin: 0px;
					}
				}
				td:last-child{
					border-right: 1px solid lighten($gray, 50%);
				}
			}
		}
	}
	.dataTables_info{
		margin-top: 10px;
		font-size: 85%;
		color: $gray;
	}
	.dataTables_paginate{
		margin-top: 10px;
		a.paginate_button{
			border-color: lighten($gray, 50%);	
			color: lighten($gray, 10%);
		    padding: 1px 6px;
		    margin-right: 5px;
    		font-size: 13px;
    		background: transparent;
			@include border-radius(4px);
			@include transition(all, 0.3s, ease);
			&:hover, &:focus{
				color: lighten($gray, 10%);
				background: lighten($primaryColor, 0.5);
			}	
		}
		a.paginate_button.current{
			background: $headTable;
			border-color: $headTable;
			color: $white !important;
			&:hover, &:focus{
				background: lighten($headTable, 10%);
				border-color: lighten($headTable, 10%);
				color: $white !important;
			}
		}
		a.paginate_button.disabled{
			background: lighten($gray, 50%);
			&:hover, &:focus{
				background: lighten($gray, 50%);
			}
		}
	}
}

table.dataTable.no-footer{
	border-bottom: 1px solid lighten($gray, 50%) !important;
}