/* CROSS-SITE VARIABLES */

/* Site Colors (Font Colors & Site Elements) */

/* main color */
$primaryColor: #2f2f2f;
$secondColor: #f15d4f;
$thirdColor: #6982c0;
$fourColor: #f89921;

$inputtext: #B3B3B3;

$greenLight: #c2e04c;

$white: #FFFFFF;

$darkGray: #212223;
$gray: #5B5B5B;

$yellow: #ffdc2f;
$red: #f05045;
$orange: #FCC42C;
$green: #21a15e;
$lightBlue: #4DB0EB;
$light-border: #eaeaea;
$headTable: #b5b5b5;

/* Site Fonts */
$openLight: 'open_sanslight', sans-serif;
$openRegular: 'open_sansregular', sans-serif;
$openSemibold: 'open_sanssemibold', sans-serif;
$openBold: 'open_sansbold', sans-serif;